@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mainBg: #151c2c;
  --softBg: #182237;
  --text: white;
  --textSoft: 183 186 193;
  color: var(--textColor);
}
